@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center-card">
    <h1>Contract Monthly Claim System</h1>
    <p class="subtext">Sign in to your account to continue</p>
    <form method="post" asp-action="Login">
        <label>Email</label>
        <input asp-for="Email" class="input" />
        <label>Password</label>
        <input asp-for="Password" type="password" class="input" />
        <button class="btn-primary" type="submit">Sign In</button>
    </form>
    <p class="small-link">Don't have an account? <a asp-action="Register">Sign up here</a></p>
</div>
